The current time is: <span my-time ng-model="time"></span>
<hr>
<form name="editTaskForm">
  <div class="control-group" ng-class="{error: editTaskForm.name.$invalid}">
    <label>Name</label>
    <input type="text" name="name" ng-model="task.name" required>
    <span ng-show="editTaskForm.name.$error.required" class="help-inline">
        Required</span>
  </div>
  <div class="control-group" ng-class="{error: editTaskForm.description.$invalid}">
    <label>Description</label>
    <textarea name="description" ng-model="task.description" required></textarea>
    <span ng-show="editTaskForm.description.$error.required" class="help-inline">
        Required</span>
  </div>
 
  <div class="control-group" ng-class="{error: editTaskForm.startTime.$invalid}">
    <label>Start Time</label>
    <input type="text" name="startTime" ng-model="task.startTime" required>
    <span ng-show="editTaskForm.startTime.$error.required" class="help-inline">
        Required</span>
  </div>

  <div class="control-group" ng-class="{error: editTaskForm.endTime.$invalid}">
    <label>End Time</label>
    <input type="text" name="endTime" ng-model="task.endTime" required>
    <span ng-show="editTaskForm.endTime.$error.required" class="help-inline">
        Required</span>
  </div>
  
  <br>
  <a href="#/" class="btn">Cancel</a>
  <button ng-click="save(task.id)" ng-disabled="isClean() || editTaskForm.$invalid"
          class="btn btn-primary">Save</button>
          <button ng-click="deleteTask(task.id)" 
          class="btn btn-primary">Delete</button>
</form>