The current time is: <span my-time></span>
<hr>
<h2>My Tasks</h2>
  <ul>
      <li ng-repeat="task in data">
      	<span>
      		<a href="#/edit/{{task.id}}"><i class="icon-edit"></i></a>
      	</span>
      	<span>
      		- {{task.name}}
      	</span>
      </li>
  </ul>
  <a href="#/new"><button class="btn btn-primary"><i class="icon-white icon-pencil"></i> Create a New Task</button></a>

