The current time is: <span my-time ng-model="time"></span>
<hr>

<form name="newTaskForm">
  <div class="control-group" ng-class="{error: newTaskForm.name.$invalid}">
    <label>Name</label>
    <input type="text" name="name" ng-model="task.name" required>
    <span ng-show="newTaskForm.name.$error.required" class="help-inline">
        Required</span>
  </div>
  <div class="control-group" ng-class="{error: newTaskForm.description.$invalid}">
    <label>Description</label>
    <textarea name="description" ng-model="task.description" required></textarea>
    <span ng-show="newTaskForm.description.$error.required" class="help-inline">
        Required</span>
  </div>
 
  <div class="control-group" >
    <label>Start Time</label>
    <input type="text" name="startTime" ng-model="task.startTime" disabled>
  </div>

  <div class="control-group">
    <label>End Time</label>
    <input type="text" name="endTime" ng-model="task.endTime" disabled>
  </div>
  
  <br>
  <a href="#/" class="btn">Cancel</a>
  <button class="btn btn-primary" ng-click="start()" ng-disabled="newTaskForm.$invalid">Start</button>
<button class="btn btn-primary" ng-click="stop()" ng-disabled="hasStarted()">Stop</button>
  
</form>